*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #dcdde1;
    font-family: 'Source Sans Pro', sans-serif;
}

.assesment-items{
    width: 400px;
    background-color: #7f8fa6;
    margin: 25px auto 0 auto;
}

.assesment-items table{
    border-spacing: 0;
    width: 100%;
}

.assesment-items th{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 7px 14px;
    background-color: #2f3640;
    color: #dcdde1;
}

.assesment-items td{
    border-collapse: collapse;
    border: 1px solid black;
}

.assesment-items input{
    width: 98%;
    padding: 3px 0;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.assesment-items button{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    padding: 11px 0;
    width: 100%;
    border: none;
    background-color: #353b48;
    color: #dcdde1;
    font-weight: bolder;
}

.assesment-items button:hover{
    background-color: #718093;
    color: #f5f6fa;
}

#grade-cell{
    background-color: #dcdde1;
    color: #2f3640;
}

.letter{
    width: 100%;
    background-color: #2f3640;
    color: #dcdde1;
    margin: 0 auto;
    padding-top: 7px;
    padding-bottom: 7px;
    overflow-y: scroll;
}

.letter td{
    overflow:hidden;
}

.letter input{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    text-align: center;
    padding: 2px 4px;
    width: 100%;
    min-width: 80px;
}